<div class="container pabel panel-primary">

    <div class="panel-heading">
        <h3  class="panel-title">Супер-Чат</h3>
    </div>

    <div id="divContainer" class="bs-component">
        <div class="modal-dialog">

            <div id="divLogin" class="login modal-content">
                <form>
                    <div class="form-group">
                        <label class="control-label" for="txtNickName">Ваш логін:</label>
                        <input type="text" class="form-control" id="txtNickName" />
                    </div>
                    <button id="btnStartChat" class="btn btn-primary">Увійти в чат</button>

                </form>
            </div>
        </div>

        <div id="divChat" class="ui-widget-content chatRoom panel panel-primary modal-content">

            <div class="title header panel-heading">
                <h3 class="panel-title">Головний час, Ви увійшли як "<span id='spanUser'></span>"</h3>
            </div>
            <div class="panel-body">
                <div class="content row">
                    <div id="divChatWindow" class="chatWindow col-md-8">
                    </div>
                    <div id="divusers" class="users col-md-4">
                    </div>
                </div>
                <div class="form-group">
                  <label class="control-label">Повідомлення:</label>
                  <div class="input-group">
                    <input type="text" class="form-control" type="text" id="txtMessage" >
                    <span class="input-group-btn">
                      <button class="btn btn-primary" id="btnSendMsg" type="button">Надіслати</button>
                    </span>
                  </div>
                </div>
            </div>

            <div class="col-md-12">

                <input id="hdId" type="hidden" />
                <input id="hdUserName" type="hidden" />
            </div>

        </div>
    </div>
</div>