<div class="container">

    <div id="header">
        SignalR Chat Room!
    </div>

    <div id="divContainer" class="bs-component">
        <div class="modal-dialog">

            <div id="divLogin" class="login modal-content">
                <form>
                    <div class="form-group">
                        <label class="control-label" for="txtNickName">Your Name:</label>
                        <input type="text" class="form-control" id="txtNickName" />
                    </div>
                    <button id="btnStartChat" class="btn btn-primary">Start Chat</button>

                </form>
            </div>
        </div>

        <div id="divChat" class="chatRoom panel panel-primary">

            <div class="title panel-heading">
                <h3 class="panel-title">Welcome to Chat Room [<span id='spanUser'></span>]</h3>
            </div>
            <div class="panel-body">
                <div class="content row">
                    <div id="divChatWindow" class="chatWindow col-md-8">
                    </div>
                    <div id="divusers" class="users col-md-4">
                    </div>
                </div>
                <div class="messageBar">
                    <input class="textbox" type="text" id="txtMessage" />
                    <input id="btnSendMsg" type="button" value="Send" class="submitButton" />
                </div>
            </div>

            <div class="col-md-12">

                <input id="hdId" type="hidden" />
                <input id="hdUserName" type="hidden" />
            </div>

        </div>
    </div>
</div>